.address-in-header {
  padding-top: 4px;
  &::after {
    content: "";
    position: absolute;
    top: -23px;
    left: -51px;

    width: 1px;
    height: $page-header-mh;

    border-left: 1px solid $light-grey-four;
  }
  &__title {
    position: relative;

    color: $grey;
    font-size: rem(11);
    line-height: rem(16);
    letter-spacing: 1.1px;
    text-transform: uppercase;
    &::before {
      content: "";
      position: absolute;
      top: 2px;
      left: -33px;

      width: 18px;
      height: 24px;

      background: $transparent url(../img/icons/sprite.png) no-repeat -30px -5px;
    }
  }
  &__text {
    color: $black-four;
    font-size: rem(15);
    line-height: rem(16);
  }
  @media ($xl) {
    &::after {
      content: "";
      left: -25%;
    }
  }
}
