// МЕНЮ
// На какой ширине уйдет меню
$media-end: 992px;
$media-nav: $media-end - 1px;

// ГАМБУРГЕР
// ГАМБУРГЕР > ФОН
$hamburger-bg-default: $body-bg;
$hamburger-bg-on-hover: $body-bg;
$hamburger-bg-on-active: $black;

// ГАМБУРГЕР > РАЗМЕРЫ
// Ширина гамбургера из макета
$hamburger-length: 26px;
// Высота гамбургера из макета
$hamburger-height: 22px;

// ГАМБУРГЕР > ПОЛОСКИ
// Ширина одной полоски
$hamburger-stripe-width: 4px;
// Закругленные концы у полосок? Если нет 0px
$hamburger-stripe-radius: 4px;
// Цвет полосок гамбургера
$hamburger-stripe-color: $black-two;
$hamburger-stripe-color-on-hover: $sick-green;
$hamburger-stripe-color-on-active: $apple;

// ГАМБУРГЕР > ЗОНА НАЖАТИЯ
// Как правило прозрачная (дабы ховер не начинался на полосках, а раньше). Цифра на усмотрение = не из макета. Обычно достаточно 10px.
// $thumb-size: 10px; закомментирована ибо для сниппета
// Если фон отличается цветом или у кнопки (toggle) есть border, тогда зона становится размером со всю кнопку выступая в качестве padding и подстраивается под нужды макета
$thumb-size: 34px;

// ГАМБУРГЕР > ЗОНА НАЖАТИЯ > ПОЗИЦИОНИРОВАНИЕ
// Позиционирование зоны нажатия, а не полосок
$hamburger-pos-ver: -60px;
$hamburger-pos-hor: 0;

// КРЕСТ
// КРЕСТ > ПОЛОСКИ
// Длиннее чем в макете. Вычисляется методом подстановки. Если в макете 24px, то будет минимум 32px
$cross-stripe-length: 32px; // @change 36 tab
// Ширина одной полоски
$cross-stripe-width: 4px;
// Цвет полосок креста
$cross-stripe-color-default: $white;
$cross-stripe-color-on-hover: $sick-green;
$cross-stripe-color-on-active: $apple;

// КРЕСТ > ПОЗИЦИОНИРОВАНИЕ
$cross-position-vertical: 28px;
$cross-position-horizontal: 14px;

// ЭЛЕМЕНТЫ СПИСКА
$item-font-size: rem(14);
$item-line-height: rem(49);
$item-font-weight: normal;
$item-text-align: left;
$item-text-transform: none;
$item-text-decoration: none;
$item-bg-default: $black-two;
$item-text-color-default: $white;

// Если пункты меню будут менять цвет текста (на hover & active)
$item-text-color-hover: $sick-green;
$item-text-color-active: $apple;

// Если пункты меню будут менять фон (на hover & active)
$item-bg-hover: none;
$item-bg-active: none;

// @change for snippet
// $item-text-position: 0px 0px 0px 0px;
$item-text-position: 0 5px 0 28px;
$item-border-top: 1px solid rgba($white, 0.05);
// Эффект тени от border
$item-border-bottom: 0 solid #000000;

// ОСТАЛЬНОЕ ВЫЧИСЛЯЕТСЯ АВТОМАТИЧЕСКИ //
// Изменения нужны редко и они помечены тегом @change
// Ниже можно добавить переменные под разные версии

// Don't touch! For hamburger stripes position between stripes.
$stripes-sum: $hamburger-stripe-width * 3;
$gap: ($hamburger-height - $stripes-sum) / 2;
$stripe-2-pos: $hamburger-stripe-width + $gap;
$stripe-3-pos: $stripe-2-pos + $gap + $hamburger-stripe-width;
$temp: $hamburger-length - $hamburger-height;

// Don't touch! Зона нажатия.
$toggle-hamburger-size-width: $hamburger-length + $thumb-size;
$toggle-hamburger-size-height: $hamburger-height + $temp + $thumb-size;
$toggle-hamburger-position-in-focus-vertical: $hamburger-pos-ver;
$toggle-hamburger-position-in-focus-horizontal: $hamburger-pos-hor;

// Don't touch! Позиционирование
$hamburger-position-vertical: ($toggle-hamburger-size-height - $hamburger-height) / 2;
$hamburger-position-horizontal: ($toggle-hamburger-size-width - $hamburger-length) / 2;

// Don't touch! Полоски гамбургера
$hamburger-stripe-padding-2: 0 $stripe-2-pos 0 0 $hamburger-stripe-color;
$hamburger-stripe-padding-3: 0 $stripe-3-pos 0 0 $hamburger-stripe-color;
$hamburger-stripe-color-on-hover-2: 0 $stripe-2-pos 0 0 $hamburger-stripe-color-on-hover;
$hamburger-stripe-color-on-hover-3: 0 $stripe-3-pos 0 0 $hamburger-stripe-color-on-hover;
$hamburger-stripe-color-on-active-2: 0 $stripe-2-pos 0 0 $hamburger-stripe-color-on-active;
$hamburger-stripe-color-on-active-3: 0 $stripe-3-pos 0 0 $hamburger-stripe-color-on-active;

// Don't touch! Ширина и положение креста почти всегда будет равна ширине и положению гамбургера
// Но на всякий @change
$toggle-cross-size-width: $toggle-hamburger-size-width;
$toggle-cross-position-in-focus-vertical: $hamburger-pos-ver;
// @change hor - Рассчитано на меню в левом углу. Для правого ищи строчку:
// Положение в правом углу - right в пикселях px, а left: auto;
$toggle-cross-position-in-focus-horizontal: $hamburger-pos-hor;

// Для удобства
$item-padding: $item-text-position;
$border-top-color-on-hover: $item-border-top;
$border-top-color-on-active: $item-border-top;

// TABLET styleguide
$tablet-bg-default: #4c6783;
$tablet-user-block-link-icon-position-vertical: 36px;
$tablet-user-block-link-icon-position-horizontal: -13px;
$tablet-item-padding: 30px 13px 20px 13px;
// потому что основной паддинг 13px
$tablet-icon-padding: 13px;
// потому что основной паддинг 13px
$tablet-selected-item-underline-height: 13px;
$tablet-selected-item-underline-width: 3px;
$tablet-selected-item-underline-position-vertical: 10px;

// Простая обводка у кнопки (гамбургера и креста)
button:focus {
  outline: 0 solid darken($white, 15%);
}

.main-nav {
  position: absolute;
  top: 60px;
  // change.защита от потенциального глюка при открытии и закрытии меню. В данном макете это вызывало глюк
  // min-height: 60px;

  background-color: $item-bg-default;
  @media ($sm) {
    top: 90px;
  }
}

.main-nav__toggle {
  content: "";
  position: absolute;
  top: $toggle-hamburger-position-in-focus-vertical;
  left: $toggle-hamburger-position-in-focus-horizontal;
  // change. Нужен если есть полупрозрачный оверлей в закрытом виде и/или надпись, лого
  // z-index: 2;

  display: block;

  padding: 0;
  // Ширина и высота кнопки это зона ховера ибо сделать это паддингом как для кнопок-ссылок не получится; font-size убирает надпись

  width: $toggle-hamburger-size-width;
  height: $toggle-hamburger-size-height;

  font-size: 0;
  // У button есть дефолтная граница, фон и прочие. От них мы и избавляемся.Гамбургер и крестик всегда должным иметь прозрачный фоновый цвет.

  background-color: $hamburger-bg-default;
  border: none;
  border-right: 1px solid $light-grey-four;
  cursor: pointer;

  &:hover {
    background-color: $hamburger-bg-on-hover;
  }
  &:active {
    background-color: $hamburger-bg-on-active;
  }
  @media ($sm) {
  top: $toggle-hamburger-position-in-focus-vertical - 30px;
  height: $toggle-hamburger-size-height + 30px;
  }
}

.main-nav--closed .main-nav__toggle::before {
  content: "";
  position: absolute;
  top: $hamburger-position-vertical;
  left: $hamburger-position-horizontal;

  width: $hamburger-length;
  height: $hamburger-stripe-width;

  background-color: $hamburger-stripe-color;
  border-radius: $hamburger-stripe-radius;
  box-shadow: $hamburger-stripe-padding-2,
  $hamburger-stripe-padding-3;
}

.main-nav--closed .main-nav__toggle:hover::before {
  background-color: $hamburger-stripe-color-on-hover;
  box-shadow: $hamburger-stripe-color-on-hover-2,
  $hamburger-stripe-color-on-hover-3;
}

.main-nav--closed .main-nav__toggle:active::before {
  background-color: $hamburger-stripe-color-on-active;
  box-shadow: $hamburger-stripe-color-on-active-2,
  $hamburger-stripe-color-on-active-3;
}

// .main-nav--opened - вешаешь на main-nav через js - появляется крестик
.main-nav--opened .main-nav__toggle {
  // Положение в правом углу - right в пикселях px, а left: auto;
  // Положение в левом углу - left в пикселях px, а right: auto;
  position: absolute;
  top: $toggle-cross-position-in-focus-vertical;
  // @change
  right: auto;
  left: $toggle-cross-position-in-focus-horizontal;

  padding: 30px;

  width: $toggle-cross-size-width;
  // Особенности макета

  background-color: $black-two;
  border-right: none;

  &::before,
  &::after {
    content: "";
    // changed by me
    position: absolute;
    top: $cross-position-vertical;
    left: $cross-position-horizontal;

    width: $cross-stripe-length;
    height: $cross-stripe-width;

    background-color: $cross-stripe-color-default;
    // change
    border-radius: $hamburger-stripe-radius;
  }
  &::before {
    box-shadow: none;
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &:hover::before,
  &:hover::after {
    background-color: $cross-stripe-color-on-hover;
  }
  &:active::before,
  &:active::after {
    background-color: $cross-stripe-color-on-active;
  }
}

.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
  & li:last-child {
    border-bottom: $item-border-top;
  }
}

.main-nav__item a {
  position: relative;

  display: block;

  padding: $item-padding;

  text-align: $item-text-align;
  color: $item-text-color-default;
  font-size: $item-font-size;
  font-weight: $item-font-weight;
  line-height: $item-line-height;
  text-transform: $item-text-transform;
  text-decoration: $item-text-decoration;

  background-color: $item-bg-default;
  border-top: $item-border-top;
  border-bottom: $item-border-bottom;
  // Для иконки треугольника
  &::before {
    content: "";
    position: absolute;
    top: 22px;
    right: 28px;

    width: 0;
    height: 0;

    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;
    border-left: 5px solid rgba($white, 0.4);
    @media (min-width: $media-end) {
      display: none;
    }
  }
}

.main-nav__item a[href],
.main-nav__user-block a[href] {
  &:hover {
    color: $item-text-color-hover;

    background-color: $item-bg-hover;
    border-top: $border-top-color-on-hover;
  }
  &:active {
    // change. Если цвет текста будет меняться. Если нет, то color можно удалить
    // color: $item-text-color-active;
    background-color: $item-bg-active;
    border-top: $border-top-color-on-active;
  }
}

// Код для любого активного элемента, кроме лого, в закрытом виде.
// .main-nav--closed .main-nav__item--active a:not(.main-nav__logo) {
//   padding-top: 30px;
//
//   border: none;
// }

// Дефолтное состояние меню закрытое и оно заканчивается на viewport $media-end
@media (max-width: $media-nav) {
  .main-nav--closed {
    .main-nav__item,
    .address,
    .phone,
    .btn-callback-in-nav {
      display: none;
    }
  }

  // код на случий отказа js - меню должно быть в открытом состоянии и без toggle
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }

  .main-nav--nojs .main-nav__item,
  .main-nav--nojs .main-nav__user-block {
    display: block;
  }
}

@media (min-width: $media-end) {
  .main-nav {
    display: flex;
    // перестраховка на случай переполнения
    flex-wrap: wrap;

    background-color: $tablet-bg-default;
    border-bottom: $item-border-bottom;
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__list {
    // собственно выстраивает элементы в строчку
    display: flex;
    justify-content: space-between;
  }

  .main-nav__item a {
    border: none;
  }

  .main-nav__item a[href],
  .main-nav__user-block a[href] {
    padding: $tablet-item-padding;
    &:hover {
      color: $item-text-color-hover;

      background-color: $tablet-bg-default;
    }
    &:active {
      color: $item-text-color-default;

      background-color: $tablet-bg-default;
      opacity: 0.3;
    }
  }

  // .main-nav__item .main-nav__logo--link img {
  //   margin-top: $tablet-logo-position;
  // }

  .main-nav__item--active a {
    &:hover {
      color: $item-text-color-default;

      background-color: $tablet-bg-default;
    }
    &:active {
      color: $item-text-color-default;

      background-color: $tablet-bg-default;
      // change. Если у дефолтных пунктов меню есть opacity в active
      opacity: 1;
    }
  }

  // .main-nav__item--active a:not(.main-nav__logo) {
  //   position: relative;
  //
  //   padding: $tablet-item-padding;
  //   &::after {
  //     content: "";
  //     position: absolute;
  //     // right and left - будут зависить от левого и правого паддинга item. Т.е. они должны быть такими же.
  //     right: $tablet-selected-item-underline-height;
  //     bottom: $tablet-selected-item-underline-position-vertical;
  //     left: $tablet-selected-item-underline-height;
  //
  //     height: $tablet-selected-item-underline-width;
  //
  //     background-color: $item-text-color-hover;
  //   }
  // }

  // .main-nav__item--active img {
  //   padding-top: $tablet-logo-position-selected;
  // }
}
